<?xml version="1.0"?>
<!-- @author    Tigren Solutions <info@tigren.com>-->
<!-- @copyright Copyright (c) 2023 Tigren Solutions <https://www.tigren.com>. All rights reserved.-->
<!-- @license   Open Software License ("OSL") v. 3.0-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="delivery_date_config_provider" xsi:type="object">Tigren\DeliveryDate\Model\DeliveryDateConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
